.page {
  position: relative;
}

.background-canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
}

.page-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bdr{
  border: 2px solid blue;
}

.content-wrapper {
  max-width: 1800px;
  margin: auto;
}

h2{
  color: white;
    text-shadow:
        -1px -1px 0 green,
        1px -1px 0 green,
        -1px 1px 0 green,
        1px 1px 0 green;
}
