<div class="page">

  <app-canvas #canvasComp class="background-canvas" [drawFn]="draw"></app-canvas>

  <div #content class="page-content">

  <!-- NAVIGATION BAR -->
  <app-main-nav-bar></app-main-nav-bar>
  <div class="container">
    <h2 class="text-center py-2">Visits</h2>
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <div class="text-center">
            <button class="btn btn-primary" (click)="createNewVisit()">Add Visit</button>
          </div>
        </div>
        <div class="table-responsive rounded">
          <table class="table table-hover">
            <thead>
              <tr class="text-center align-middle">
                <th>TDCJ ID</th>
                <th>Inmate Name</th>
                <th>Inmate Housing</th>
                <th>Time of Visit</th>
                <th>Status of Visit</th>
                <th># of Vehicles</th>
              </tr>
            </thead>
            <tbody>
              @for (inmate of inmates; track $index) {
              <tr class="text-center align-middle">
                <td class="align-middle">{{inmate.id}}</td>
                <td class="align-middle">{{inmate.firstName}} {{inmate.lastName}}</td>
                <td class="align-middle">{{inmate.housing}}</td>
                <td class="align-middle">{{inmate.timeOfVisit}}</td>
                <td class="align-middle">{{inmate.visitStatus}}</td>
                <td class="align-middle">{{inmate.numOfVehicles}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button class="btn btn-danger m-3" (click)="endDay()">End Visitation</button>
  </div>


  </div>
</div>
