<div class="page">

  <app-canvas #canvasComp class="background-canvas" [drawFn]="draw"></app-canvas>

  <div #content class="page-content">

    <div class="scanner-container">
      <video #video class="camera" autoplay muted></video>

      <button class="btn" (click)="startScan()">Start Scan</button>
      <button class="btn" (click)="stopScan()">Stop</button>
      <hr/>
      <button class="btn" (click)="turnOnTorch()">Toggle light</button>

    </div>
    <hr/>
    @if (currentScan){
      <div class="scan-list">
        <div class="scan-card">
          <h4>Scan &#64; {{ currentScan.timestamp | date:'short' }}</h4>
          <p><strong>Name:</strong> {{ currentScan.visitor.firstName }}</p>
          <p><strong>DOB:</strong> {{ currentScan.visitor.dob }}</p>
          <p><strong>License #:</strong> {{ currentScan.visitor.dlNumber }}</p>

          <details>
            <summary>Raw Data</summary>
            <pre>{{ currentScan.raw
             }}</pre>
          </details>
        </div>
      </div>
      <hr />
    }


    @if (debugMessage) {
      <div style="background: yellow; padding: 10px;">
        {{ debugMessage }}
      </div>
      <hr />
    }

    <!-- CAMERA MESSAGES -->
    @if (camMessageCurrentWidth){
      <div style="background: cyan; padding: 10px;">
        {{ camMessageCurrentWidth }}
      </div>
    }
    @if (camMessageCurrentHeight){
    <div style="background: cyan; padding: 10px;">
      {{ camMessageCurrentHeight }}
    </div>
    <hr/>
    }

    @if (camMessageMaxAchievableWidth){
    <div style="background: cyan; padding: 10px;">
      {{ camMessageMaxAchievableWidth }}
    </div>
    }
    @if (camMessageMaxAchievableHeight){
    <div style="background: cyan; padding: 10px;">
      {{ camMessageMaxAchievableHeight }}
    </div>
    }

    @if (abilities.length > 0) {
      <hr/>
      <div class="scan-list">

        <div class="scan-card">
          <details>
            <summary>Abilities:</summary>
            <pre>{{ abilities | json }}</pre>
          </details>
        </div>

      </div>
    <hr />
    }



  </div>

</div>
