<nav class="navbar navbar-expand-lg header">
  <div class="container-fluid">

    <!-- Left side of the nav bar for the current websites home page -->
    <a class="navbar-brand text-light fw-bold fs-4" [routerLink]="routes.landingPage">
      Greenfolio
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Right side of the nav bar for the login -->
      @if (isLoggedIn) {
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link logout" (mouseenter)="hoveringLogout = true" (mouseout)="hoveringLogout = false" (click)="logout()">
            {{ hoveringLogout ? 'Logout' : loggedInUserName }}
          </a>
        </li>
      </ul>
      }
      @else {
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link link-light" [routerLink]="routes.loginPage">
              Login
            </a>
          </li>
        </ul>
      }


    </div>
  </div>
</nav>
