.header {
  background-color: #121318;
  font: #ffffff;
  border-bottom: 2px solid #212226;
}

li{
  align-items: center;
  justify-content: center;
}

p{
  cursor: default;
  color: #ffffff;
}

.logout{
  color: white;
}

.logout:hover{
  cursor: pointer;
  color: red;
}

.shadow{
  text-shadow:
      -1px -1px 0 green,
      1px -1px 0 green,
      -1px 1px 0 green,
      1px 1px 0 green;
}
