<div class="page">

  <app-canvas #canvasComp class="background-canvas" [drawFn]="draw"></app-canvas>

  <div #content class="page-content">

    <!-- NAVIGATION BAR -->
    <app-main-nav-bar></app-main-nav-bar>

    <!-- BODY/MAIN CONTENT -->
    <div class="body">

        <header class="header">
          <h1>My Projects</h1>
          <p>
            A portfolio of designs and interactive prototypes created to showcase my many projects.
          </p>
        </header>

        <div class="grid-container">
          <div class="box span-8" (click)="goToEmployeeManagement()">
            <div class="image-tile" [style.background-image]="'url(' + employeeManagementBackground + ')'">
            </div>
            <div class="box-text">
              <h2>Employee Management System</h2>
              <p>
                <b>
                  A simple frontend solution for adding, updating, deleting, and viewing employees through a database.
                  Data persist as the ASP.net API communicates with an Azure SQL Database.
                </b>
              </p>
            </div>
          </div>

          <div class="box span-4" (click)="goToWorldMap()">
            <div class="image-tile" [style.background-image]="'url(' + worldMapBackground + ')'">
            </div>
            <div class="box-text">
              <h2>World Map</h2>
              <p>
                <b>
                  A world map interface that shows information about each country using an svg file and
                  backend api from api.worldbank.org.
                </b>
              </p>
            </div>
          </div>

          <div class="box span-4">
            <div class="image-tile background-image" [style.background-image]="'url(' + bubblePopperBackground + ')'"
              (click)="goToBubblePopper()">
            </div>
            <div class="box-text">
              <h2>Bubble Popper Game</h2>
              <p>
                A fun little game for popping bubbles using a canvas.
              </p>
            </div>
          </div>

          <div class="box span-8">
            <div class="image-tile">
              <h1>New Project</h1>
            </div>
            <div class="box-text">
              <h2>Coming Soon</h2>
              <p>
                Work in progress..
              </p>
            </div>
          </div>
        </div>

        <!-- draw the gravity button if bouncing circles is on. -->
        @if (currentDrawable == 'bouncing-circles') {
        <div class="button-container">
          <button class="gravity-button" (click)="turnOnGravity()">
            @if (gravityOn) {
            Turn off gravity
            }
            @else {
            Turn gravity on
            }
          </button>
        </div>
        }
    </div>
  </div>
</div>
