<div class="page">

  <app-canvas #canvasComp class="background-canvas" [drawFn]="draw"></app-canvas>

  <div #content class="page-content">

    <app-landing-page-nav-bar></app-landing-page-nav-bar>
    <div class="container">
    <div class="tiles-container">

      <div class="tile" [style.background-image]="'url(' + employeeManagementBackground + ')'"
        (click)="goToEmployeeManagement()">
        <h1>Employee Management System</h1>
        <p>
          <b>
            A simple frontend solution for adding, updating, deleting, and viewing employees through a database.
            Data persist as the ASP.net API communicates with an Azure SQL Database.
          </b>
        </p>
      </div>

      <div class="tile" [style.background-image]="'url(' + worldMapBackground + ')'" (click)="goToWorldMap()">
        <h1>World Map</h1>
        <p>
          <b>
            A world map interface that shows information about each country using an svg file and
            backend api from api.worldbank.org.
          </b>
        </p>
      </div>

      <div class="tile background-image" [style.background-image]="'url(' + bubblePopperBackground + ')'" (click)="goToBubblePopper()">
        <h1>Bubble Popper Game</h1>
        <p>
          A fun little game for popping bubbles using a canvas.
        </p>
      </div>

      <div class="tile blank-tile">
        <h1>Idea 4</h1>
        <p>
          Filler tile 4
        </p>
      </div>
    </div>
    </div>

    <div class="button-container">
      <button class="gravity-button" (click)="turnOnGravity()">
        @if (gravityOn) {
        Turn off gravity
        }
        @else {
        Turn gravity on
        }
      </button>
    </div>
  </div>
</div>
