/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.tile {
    cursor: pointer;
    flex: 1 0 400px;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;

    /* floating animation */
    animation: float 6s ease-in-out infinite alternate;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect to stop the tile from floating */
.tile:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    animation-play-state: paused;
}

/* Keyframes for floating motion of the tiles */
@keyframes float {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    25% {
        transform: translateY(-10px) translateX(5px);
    }
    50% {
        transform: translateY(5px) translateX(-5px);
    }
    75% {
        transform: translateY(-5px) translateX(10px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1,
p {
    color: #fff;
    text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
    transform: translateZ(0);
}