<div class="page">
  <app-canvas class="background-canvas" [drawFn]="draw"></app-canvas>
  <app-landing-page-nav-bar></app-landing-page-nav-bar>
  <main>
    <section class="tiles-container">
      <!-- https://unsplash.com/@bennieray -->
      <div class="tile" [style.background-image]="'url(' + employeeManagementBackground + ')'"
        (click)="goToEmployeeManagement()">
        <h1>Employee Management System</h1>
        <p>
          <b>
            A simple frontend solution for adding, updating, deleting, and viewing employees from/to a database.
            data persist as the backend api communicates with an Azure SQL Database. This app features a responsive
            interface, real-time updates, and centralized routing for easy navigation between pages.
          </b>
        </p>
      </div>

      <!-- https://unsplash.com/@photowolf -->
      <div class="tile" [style.background-image]="'url(' + worldMapBackground + ')'" (click)="goToWorldMap()">
        <h1>World Map</h1>
        <p>
          <b>
            A world map interface that shows information about each country using an svg file and
            backend api from api.worldbank.org.
          </b>
        </p>
      </div>

      <div class="tile blank-tile">
        <h1>Idea 3</h1>
        <p>
          Filler tile 3
        </p>
      </div>

      <div class="tile blank-tile">
        <h1>Idea 4</h1>
        <p>
          Filler tile 4
        </p>
      </div>
    </section>
  </main>
</div>

<div class="button-container">
  <button class="gravity-button" (click)="turnOnGravity()">
    @if (gravityOn) {
    Turn on gravity
    }
    @else {
    Turn gravity off
    }
  </button>
</div>

