<app-landing-page-nav-bar></app-landing-page-nav-bar>
<main>
    <section class="tiles-container">
        <!--https://unsplash.com/@bennieray-->
        <div class="tile" [style.background-image]="'url(' + tileBackground + ')'" (click)="goToEmployeeManagement()">
            <h1>Employee Management System</h1>
            <p>
                <b>
                    A simple frontend solution for adding, updating, and deleting employees from a database.
                    The current system does not persist data past a certain time frame, but it communicates with an
                    ASP.NET backend
                    client and features a responsive
                    interface, real-time updates, and centralized routing for easy navigation between pages.
                </b>
            </p>
        </div>

        <div class="tile">
            <h2>Idea 2</h2>
            <p>
                Filler tile 2
            </p>
        </div>

        <div class="tile">
            <h2>Idea 3</h2>
            <p>
                Filler tile 3
            </p>
        </div>


    </section>
</main>